<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>โปรไฟล์</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/app">หน้าหลัก</a></li>
            <li class="breadcrumb-item active">โปรไฟล์</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                    src="{{profile.photoURL}}"
                    alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{profile.displayName}}</h3>

            <p class="text-muted text-center">{{profile.email}}</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">เกี่ยวกับฉัน</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <strong><i class="fas fa-store-alt"></i> สังกัดร้านค้า</strong>

            <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> ที่อยู่ปัจจุบัน</strong>

            <p class="text-muted">Malibu, California</p>

            <hr>            

            <strong><i class="far fa-file-alt mr-1"></i> หมายเหตุ</strong>

            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
            <ul class="nav nav-pills">
                <!-- <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">กิจกรรม</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">ไทม์ไลน์</a></li> -->
                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">การตั้งค่า</a></li>
            </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane" id="activity">
   
                </div>

                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                <!-- The timeline -->

                </div>
                <!-- /.tab-pane //"0.001953125"-->

                <div class="active tab-pane" id="settings">
                <form #f="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">รูปโปรไฟล์</label>                     
                        <div class="col-sm-10">
                            <div class="card-body" style="padding-left: 0 !important;"><img [src]="croppedImage" alt="รูปตัวอย่าง" class="img-thumbnail" width="100" height="100"></div>
                            <div class="input-group input-group-sm">                                
                                <div class=" custom-file">
                                  <input type="file" class="custom-file-input" id="exampleInputFile" (change)="fileChangeEvent($event)" accept=".png,.jpg">
                                  <label class="custom-file-label" for="exampleInputFile">เลือกไฟล์</label>
                                </div>
                                <div class="input-group-append">
                                  <span id=""><button type="button" class="btn {{profile.photoURLActivity.button}} btn-flat" title="อัพโหลด" [disabled]="imageFile2KB == null" (click)="storageUpload()"><i class="fas fa-cloud-upload-alt"></i></button></span>
                                </div>
                            </div>
                            <div class="card-body" style="padding-left: 0 !important;" *ngIf="isShowCrop">
                                <image-cropper
                                    class="img-thumbnail"
                                    [resizeToWidth] = 100
                                    [resizeToHeight] = 100
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="1 / 1"
                                    format="png"
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()"
                                    (loadImageFailed)="loadImageFailed()">
                                </image-cropper>
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">ชื่อ-นามสกุล</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล" name="displayName" [disabled]="profile.displayNameActivity.disable" required [(ngModel)]="profile.displayName">
                            <span class="input-group-append">
                              <button type="button" class="btn {{profile.displayNameActivity.button}} btn-flat" (click)="onEditDisplayName(profile.displayNameActivity)" [disabled]="profile.displayName != null && profile.displayName == ''"><i class="fas {{profile.displayNameActivity.iocn}}"></i></button>
                            </span>
                          </div>
                          <span *ngIf="profile.displayName != null && profile.displayName == ''" class="error text-red text-xs">!กรุณาระบบชื่อ-นามสกุล</span>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">อีเมล</label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="อีเมล" name="email" [disabled]="profile.emailActivity.disable" required [(ngModel)]="profile.email">
                            <span class="input-group-append">
                                <button type="button" class="btn {{profile.emailActivity.button}} btn-flat" [disabled]="profile.emailActivity.disable"><i class="fas {{profile.emailActivity.iocn}}"></i></button>
                            </span>
                            </div>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">เบอร์มือถือ</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-sm">
                                <input type="tel" class="form-control" placeholder="เบอร์มือถือ" name="phoneNumber" [disabled]="profile.phoneNumberActivity.disable" required [(ngModel)]="profile.phoneNumber" autocomplete=tel-local>
                                <span class="input-group-append">
                                  <button type="button" class="btn {{profile.phoneNumberActivity.button}} btn-flat" [disabled]="profile.phoneNumberActivity.disable"><i class="fas {{profile.phoneNumberActivity.iocn}}"></i></button>
                                </span>
                              </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">รหัสผ่าน</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-sm">
                                <input type="password" class="form-control" placeholder="รหัสผ่าน" name="password" [disabled]="profile.passwordActivity.disable" required [(ngModel)]="profile.password" required minlength="6" autocomplete=new-password>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                  </div>
                                <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน" name="retype-password" [disabled]="profile.passwordActivity.disable" required [(ngModel)]="retypePassword" required minlength="6" autocomplete=new-password>
                                <span class="input-group-append">
                                  <button type="button" class="btn {{profile.passwordActivity.button}} btn-flat" (click)="onEditPassword(profile.passwordActivity)" [disabled]=verifyPassword(profile.password,retypePassword)><i class="fas {{profile.passwordActivity.iocn}}"></i></button>
                                </span>
                              </div>
                              <span *ngIf="verifyPassword(profile.password,retypePassword)" class="error text-red text-xs">!รหัสผ่านของคุณจะต้องมีความยาวอย่างน้อย 6 ตัวอักษร และ ยืนยันรหัสผ่านให้ถูกต้อง</span>
                        </div>
                        
                    </div>
                </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>
            Loading...
        </h3>
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true }" [template]="customLoadingTemplate"></ngx-loading>