@import '~firebaseui/dist/firebaseui.css';
body
{
    background-color: #e9ecef !important;
    font-family: 'Kanit', sans-serif !important;
    overflow-x: hidden !important;
}
.sidebar-complementary {
    background-color: #600f66 !important;
    color: #ffffff;
}
.sidebar-analogous {
    background-color: #004e30 !important;
    color: #ffffff;
}
.sidebar-triadic {
    background-color: #301c9a !important;
    color: #ffffff;
}
.size-h-content-100
{
    height: 100%;
}
.shop-color-link
{
    color: #ffffff;
}
.shop-color-link:hover
{
    color: #605ca8;
}